<form [formGroup]="formService.addProductForm">

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-6 space-x-1 space-y-6">
    <app-custom-input label="ID" formControlName="id" placeholder="ej. uno" />
    <app-custom-input label="Nombre" formControlName="name" placeholder="Ingrese el nombre" />
    <app-custom-input label="Descripción" formControlName="description" placeholder="Ingrese la descripción" />
    <app-custom-input label="Logo" formControlName="logo" placeholder="Ingrese el logo" />
    <app-custom-input label="Fecha Liberación" type="date" formControlName="date_release" placeholder="ej. 22/02/2023"
      [min]="formService.minDate()" />
    <app-custom-input label="Fecha Revisión" type="date" formControlName="date_revision" placeholder="ej. 22/02/2024" />
  </div>

  <div class="flex justify-center items-center mt-4 gap-4 max-md:flex-col">
    <button type="button" (click)="formService.resetForm()"
      class="bg-gray-400 text-white px-6 py-2 rounded-md w-full md:w-auto">
      Reiniciar
    </button>
    <button [disabled]="formService.addProductForm.invalid"
      (click)="productStore.createProduct(formService.addProductForm)"
      class="bg-yellow-400 text-white px-6 py-2 rounded-md w-full md:w-auto disabled:opacity-50 disabled:cursor-not-allowed">
      Enviar
    </button>
  </div>
</form>
